html{
	font-size: 62.5%;
}
body{
	background-color: #68cdd5;
<<<<<<< HEAD
	font-size:initial;
=======
>>>>>>> c1117f313e2510bd9bccb560fadba1f079e2baf1
	color: #FFFFFF;
	font-size:initial;
}
.header{
	margin-top: 1.9rem;
}
.content  {
	text-align: center;
	margin-top: 3.2rem;
}
 p{
	
	font-size:2.5rem;
	text-align: left;
	font-family: "HiraginoSansGB";
<<<<<<< HEAD
	line-height:3.2rem;
	margin: 1.3rem 3.7rem;
=======
	line-height: 4.2rem;
	margin: 1.3rem 3.7rem; 
>>>>>>> c1117f313e2510bd9bccb560fadba1f079e2baf1

}
.left{
	float: left;
	margin-left:3.7rem;
}
.right{
	float: right;
	margin-right:3.7rem;
}
span{
	display: block;
	font-size: 1.8rem;
	text-align: center;
	margin-top: 0.3rem;
	margin-bottom: 2.8rem;
}
