body{
	font-size: 62.5%;
	background-color: #68cdd5;

	color: #FFFFFF;
}
.header{
	margin-top: 1.9rem;
}
.content {
	text-align: center;
	margin-top: 3.9rem;
}
h1{
	
	font-size:3rem;
	text-align: left;
	font-family: "HiraginoSansGB";
	line-height:1.6rem;

}
.left{
	float: left;
	margin-left:2.2rem;
}
.right{
	float: right;
	margin-right:2.2rem;
}
