
html{
	font-size: 62.5%;
}
body{
	background-color: #eff0f4;
	font-size: initial;
	/*overflow: hidden;*/
}

/*导航栏*/
.header{
	background-color: #5fc0cd; 
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: #ffffff;
}

.register{
	position: fixed;
	left:3%;
	top: 8px;
}
.close{
	position: fixed;
	right:3%;
	top: 8px;
}
.login{
	font-size: 1.8rem;
}

/*输入框*/
.in_phone{
	background-color: #ffffff;
	height: 50px;
	width: 100%;
	margin-top: 2%;
}
.in_pwd{
	background-color: #ffffff;
	height: 50px;
	width: 100%;
	margin-top: 2%;
}
img{
	position: fixed;
	/*top: 35%;*/
	left: 2.3%;
	margin-top: 0.4%;

}
input{
	font-size: 1.5rem;
	border-style: none;
	border-left: 2px solid #eff0f4;
	outline-style: none;/*去掉输入框被点击时的高亮显示*/
	height: 35px;
	margin-top: 0.5%;
	margin-left: 14%;
	padding-left: 15px;
}

.phone{
	/*background-image: url('imgs/task01.png');
	background-repeat: no-repeat;
	background-position: 1% 50%;*/
}

/*底部*/
 button{
	margin-top: 2%;
	width: 100%;
	background-color: #5fc0cd; 
	display: block;
	border-style: none;
	height: 40px;
	line-height: 40px;
	font-size: 1.7rem;
	color: #ffffff;
}
a{
	float: right;
	font-size: 1.3rem;
	margin-top: 2%;
}
/*input::-webkit-input-placeholder { 
color: #999; 
-webkit-transition: color.5s; 
} 
input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder { 
color: #c2c2c2; 
-webkit-transition: color.5s; 
} 
*/