html{
	font-size: 62.5%;
}
body{
	margin: 0;
	font-size: 1.4rem;
}
.header{
	display: flex;
	justify-content: space-between;
	height: 50px;
	line-height: 50px;
	width: 100%;
	font-size: 1.6rem;
	background-color: #29bde0;
	color: #fff;
}
.header > img{
	width: 32px;
	height: 30px;
	margin: 10px 15px;
	/*line-height: 50px;*/
}

/*中部内容*/
p{
	-webkit-margin-before: 0;	
	-webkit-margin-after: 0;
}
.third_content{
	position: relative;
	height: 330px;
	background: url('imgs/bg.png') no-repeat;
	background-size: 100% 100%;
}
.content_top{
	position: absolute;
	top: 126px;
	left: 28px;
	right: 28px;
	font-size: 1.6rem;
	color: #ffc865;
	/*text-align: center;*/
}
.content_bottom{
	position: absolute;
	top: 210px;
	left: 28px;
	right: 28px;
	/*font-size:.9rem;*/
	color: #fff;
}
.flex{
	/*display: flex;
	justify-content: space-around;
	flex-wrap: wrap;*/
	/*width: 73%;*/
	width: 100%;
	height: 40px;
}
.flex > span{
	display: block;
	width: 88px;
	float: left;
}

/*列表*/
li{
	list-style: none;
	border-bottom: 1px solid #a6a6a6;
	padding-bottom: 10px;
	padding-left: 25px;
	margin-left: -40px;
}
li > div{
	margin-top: 8px;
	padding-bottom: 10px;
}
.time{
	float: right;
	padding-right: 30%;
	/*font-size: .9rem;*/
	color: #a6a6a6;
}
li > p{
	/*font-size: .9rem;*/
	color: #a6a6a6;
}

/*底部*/
.third_footer{
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	height: 60px;
	width: 100%;
	/*opacity: 0.6;*/
	background-color: rgba(153,223,240,0.6);
	/*background-color: #99dff0;*/
}
button{
	height: 40px;
	padding: 0 35px;
	margin-top: 10px;
	border-radius: 8px;
	font-size: 1.6rem;
	line-height: 40px;
	outline: none;
	color: #fff;
	/*border: none;*/

}
a{
	text-decoration: none;
	color: #fff;
}
.agin{
	border: 1px solid #f66f6f;
	background-color: #f66f6f;
}
.share{
	border: 1px solid #fbb435;
	background-color: #fbb435;
}